<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>

	<body>
		<a class="btn btn-primary btn-lg" href="${linkToRecover}">Press here to recover your password!</a>
	</body>
</html>

