
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<div class="row">
		Your password was successfully changed, your new password is:<br/>
		<ul>
			<li>Password:  <b>${password}</b></li>
			<li>Username:  <b>${username}</b></li>
		</ul>
		
		<a class="btn btn-primary btn-lg" href="${loginURL}">Press here for authentication</a>
	</div>


